* {
  margin: 0;
  padding: 0;
}

//Inicio de Hamburger Icon
.menu-container {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
  background: wheat;
  height: 60px;
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 25px;
    color: olive;
  }
}

.sub-menu-container {
  display: flex;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  background: darkblue;
  height: 60px;
}

.sub-menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-family: Georgia;
    color: white;
    font-size: 20px;
  }
}
//Final hamburger icon


//Inicio de Accordion
.main-accordion-container {
  width: 100%;
  border-bottom: 2px solid black;

  .accordion-item {
    width: 100%;
    background: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    //padding: 0px 10px 0px 10px;

    .accordion-title {
      width: 100%;
      background: rgb(143, 175, 235);
      color: rgb(53, 53, 233);
      font-family: Arial;
      font-size: 30px;
      display: flex;
      justify-content: center;
      padding: 20px 0 20px 0;
      text-align: center;
    }

    .accordion-desc {
      width: 100%;
      display: none;
      border-top: 3px solid yellowgreen;
    }

    &.tab-active {
      .accordion-desc {
        display: flex;
        height: auto;
        border-bottom: 7px solid yellowgreen;
        p {
          width: 100%;
          justify-content: center;
          padding: 5px 40px 20px 40px;
          text-align: justify;
          font-size: 25px;
          color: rgb(203, 224, 210);
        }
      }
    }
  }
}
//Final de Accordion

//Inicio de Main
main {
  width: 100%;
  //display: flex;
  //flex-direction: column;
  background-color: brown;
  padding-top: 25px;

  .container-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    border-bottom: solid 3px black;

    .container-1-img {
      img {
        max-width: 900px;
        display: block;
        margin: 10px 0 20px 0;
        border: solid 2px black;
        border-radius: 10px;
        &:hover {
          transform: scale(1.01);
        }
      }
    }
    .container-1-text {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        width: 100%;
        text-align: center;
        border: solid 2px black;
        padding: 20px 10px 20px 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        background-color: rgb(185, 199, 191);
        font-family: "Franklin Gothic Medium";
      }
      h2 {
        width: 100%;
        text-align: center;
        border: solid 2px black;
        padding: 10px 10px 10px 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        background-color: rgb(181, 206, 185);
        font-family: "Franklin Gothic Medium";
      }
      p {
        width: 100%;
        text-align: justify;
        padding: 10px 10px 20px 10px;
        border: solid 2px black;
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: snow;
      }
    }
  }
}
//Final de Main

//Inicio de Cards
.card-list {
  background-image: url("https://cdn.pixabay.com/photo/2019/09/18/21/12/dark-4487690_1280.jpg");
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  border-bottom: solid 2px black;

  .card-item {
    width: 30%;
    height: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 8px -1px black;
    margin-bottom: 30px;
    background: rgb(220, 220, 241);
    overflow: hidden;
    border: solid 2px black;

    &:hover {
      transform: scale(1.01) translateY(-5px);
    }

    img {
      width: 100%;
      //margin-bottom: 15px;
      max-height: 350px;
      min-height: 350px;
      border-bottom: solid 2px black;
    }

    .card-info {
      height: auto;
      padding: 15px 15px 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-end;

      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: Helvetica;
        margin-bottom: 10px;
        text-align: center;
      }

      .card-desc {
        min-height: 150px;
        max-height: 150px;
        font-family: Georgia;
        font-size: 16px;
        margin-bottom: 7px;
        text-align: justify;
      }

      .card-cta {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        font-family: Helvetica;
        padding: 15px 5px 0 0;
        border-top: solid 1px black;
      }
    }
  }
}
//Final de Cards


@media (max-width: 1310px) {
  .card-list {
    .card-item {
      .card-info {
        .card-title {
          font-size: 15px;
        }
        .card-desc {
          font-size: 12px;
        }
      }
    }
  }
  //Final de Cards
}

@media (max-width: 991px) {
  //Inicio hamburger icon
  .menu-container {
    justify-content: flex-end;
    position: relative;

    .hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span {
        height: 4px;
        width: 100%;
        background: darkblue;
        display: block;
        border-radius: 2px;
      }
    }

    .menu-list {
      display: none;
    }
  }

  .menu-container.menu-open {
    .menu-list {
      z-index: 100;
      border: 3px solid black;
      width: 120px;

      margin: 125px 15px 0px 0px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      background-color: darkcyan;
      border-radius: 15px;

      a {
        padding: 5px 0px 5px 0px;
        color: black;
      }
    }
  }

  .sub-menu-container {
    justify-content: flex-start;
    position: relative;

    .sub-hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span {
        height: 4px;
        width: 100%;
        background: rgb(255, 255, 255);
        display: block;
        border-radius: 2px;
      }
    }

    .sub-menu-list {
      display: none;
    }
  }

  .sub-menu-container.sub-menu-open {
    .sub-menu-list {
      z-index: 99;
      border: 3px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      width: 150px;
      height: auto;
      background: cadetblue;
      margin: 185px 0px 0px 15px;
      border-radius: 15px;

      a {
        padding: 5px 0px 5px 0px;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 25px;
      }
    }
  }
  //final hamburger icon

  //Inicio de Main
  main {
    .container-1 {
      .container-1-img {
        img {
          max-width: 550px;
        }
      }
    }
  }
  //Final de Main

  //Inicio de Cards
  .card-list {
    .card-item {
      width: 45%;
      img {
        max-height: 200px;
        min-height: 200px;
      }
    }
  }
  //Final de Cards
}

@media (max-width: 600px) {
  //Inicio de Main
  main {
    .container-1 {
      .container-1-img {
        img {
          max-width: 400px;
        }
      }
    }
  }
  //Final de Main

  //Inicio de Cards
  .card-list {
    .card-item {
      width: 90%;
      img {
        max-height: 300px;
        min-height: 300px;
      }
    }
  }
  //Final de Cards
}

@media (max-width: 500px) {
  //Inicio de Accordion
  .main-accordion-container {
    .accordion-item {
      .accordion-title {
        padding: 15px 0 15px 0;
        font-size: 25px;
      }
      &.tab-active {
        .accordion-desc {
          background: rgb(253, 167, 180);
          p {
            padding: 5px 20px 5px 20px;
            color: rgb(93, 134, 175);
            font-size: 20px;
          }
        }
      }
    }
  }
  //Final de Accordion

  //Inicio de Main
  main {
    .container-1 {
      .container-1-img {
        img {
          max-width: 310px;
        }
      }
    }
  }
  //Final de Main
}
